.panel-heading{
    color: #333;
    /* background-color: #f5f5f5; */
    border-color: #ddd;
}
.line-through{
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through; 
}
.text ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
 .text ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }