<div class="container-fluid">
    <div class="row">
        <div class="col-12">
           <p class="mt-2 mb-2" style="font-size:15px">Angular Machine Test C</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <p style="font-size:20px">Todo App</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row" *ngIf="isShow">
                            <div class="col-8">
                                <mat-form-field appearance="outline" class="w-100 ms-3 mt-2 text">
                                    <input matInput placeholder="Search" oninput="this.value = this.value.replace(/^\s+/g, '').replace(/[.](\..*)\./g, '$1');" [(ngModel)]="searchTask" id="head_serach" style="cursor:pointer;">
                                    <mat-icon matSuffix class="text-secondary" style="cursor: pointer;">search</mat-icon>
                                </mat-form-field> 
                            </div>
                            <div class="col-4 mt-4 text-end">
                                <i class='fa fa-plus me-4' style="font-size:25px;cursor: pointer;" (click)="adduser()"></i>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isShow">
                            <div class="col-8 mt-3">
                                <i class='fa fa-arrow-left ms-4' style="font-size:25px;cursor: pointer;" (click)="back()"></i>
                            </div>
                            <div class="col-4 mt-3 text-end" (click)="onSave()">
                               <i class='fa fa-floppy-o me-4' style="font-size:25px;cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default"  *ngIf="isShow">
                            <div class="panel-body">
                                 <div class="card mt-3" *ngFor="let i of list | filter:searchTask" >
                                    <div class="row">
                                        <div class="col-8 ms-3 mt-3" (click)="markDone(i.id)">
                                            <p class="pt-2 pb-4 ps-3" style="border: 1px dashed black;font-size:10px" [ngClass]="{'line-through': i.completed}">{{i.name.task}}</p>
                                        </div>
                                        <div class="col-2 offset-1 text-end mt-2">
                                            <span class="material-icons mt-2 mb-2" (click)="deleteTask(i.id)" style="cursor:pointer;">delete</span>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                        </div>
                        <div *ngIf="!isShow">
                            <form [formGroup]="listForm">
                                <div class="row">
                                    <div class="col-8">
                                        <mat-form-field appearance="outline" style="width:100%">
                                            <mat-label>create new task</mat-label>
                                            <textarea matInput formControlName="task"></textarea>
                                            <mat-error>Please enter task</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    
                    </div>
                    <div class="panel-footer">
                        <p>Total Notes:{{i+1}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
